<div class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container white-text">
      <br><br>
      <h1 class="header center">Największa baza obiektów w&nbsp;Polsce</h1>
      <div class="row center">
        <h5 class="header col s12 light">Wybierz najlepszą spośród tysięcy dostępnych ofert!</h5>
      </div>
      <div class="row center">
        <%= link_to venues_path, class: 'btn-large waves-effect waves-light light-blue' do %>
          <i class="material-icons left">view_list</i>Przeglądaj
        <% end %>
        <%= link_to new_managers_venue_path, class: 'btn-large waves-effect waves-light orange' do %>
          <i class="material-icons left">note_add</i>Dodaj
        <% end %>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><%= image_tag 'office' %></div>
</div>
