<div id="modal-hall" class="modal">
  <div class="modal-content">
    <h4>Sala</h4>
    <form class="col s12" action="/managers/venues/<%= @venue.id %>/halls/">
      <div class="row">
        <div class="input-field col s4">
          <input id="hall-name" type="text" class="validate" name="hall[name]">
          <label for="hall-name">Nazwa</label>
        </div>
        <div class="input-field col s4">
          <input id="hall-sitting" type="number" class="validate" name="hall[chairs]">
          <label for="hall-sitting">Miejsca siedzące</label>
        </div>
        <div class="input-field col s4">
          <input id="hall-standing" type="number" class="validate" name="hall[capacity]">
          <label for="hall-standing">Miejsca stojące</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="hall-description" class="materialize-textarea validate" name="hall[description]"></textarea>
          <label for="hall-description">Krótki opis</label>
        </div>
      </div>
      <div class="row modal-gallery">
        <div class="col s12">
          <h6>Galeria zdjęć</h6>
          <p class="show-on-add">Dodawanie zdjęć możliwe jest dopiero po uprzednim dodaniu sali.</p>
          <ul class="row hide-on-add"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button class="modal-action waves-effect waves-light light-blue darken-2 btn left" type="submit"><i class="material-icons left">save</i>Zapisz</button>
          <button class="modal-action action--upload waves-effect waves-light light-blue darken-2 btn left hide-on-add"><i class="material-icons left">add_a_photo</i>Dodaj zdjęcie</button>
          <button class="modal-action modal-close waves-effect waves-light light-blue darken-2 btn right">Anuluj</button>
          <button class="modal-action action--delete modal-close waves-effect waves-light light-blue darken-2 btn right hide-on-add"><i class="material-icons left">delete</i>Usuń</button>
        </div>
      </div>
    </form>
  </div>
</div>
