<div id="modal-facebook" class="modal modal-small">
  <div class="modal-content">
    <p>Posiadasz stronę na Facebooku? Wykorzystaj to i przyspiesz proces tworzenia profilu ośrodka!</p>
    <div class="input-field row">
      <div class="col s7">https://www.facebook.com/</div>
        <div class="col s5">
          <input id="facebook-url" placeholder="identyfikator" style="height:auto" type="text">
        </div>
      </div>
      <div class="input-field">
        <%= button_tag class: 'modal-action waves-effect waves-light light-blue darken-2 btn' do %>
          Stnchronizuj
        <% end %>
        <%= button_tag class: 'modal-close waves-effect waves-light btn btn-flat' do %>
          Nie, dzięki
        <% end %>
      </div>
    </div>
  </div>
</div>
