<p id="notice"><%= notice %></p>

<h1>Listing Venues</h1>

<% @venues.each do |venue| %>
  <%= render partial: 'venue', locals: { venue: venue } %>
<% end %>
<br>

<%= link_to 'New Venue', new_venue_path %>
