p, ul {
  margin: 1rem 0; }

.modal-small {
  width: 90%;
  max-width: 400px; }

.nav-wrapper {
  padding: 0 2rem; }

.row {
  margin-bottom: 0; }

.footer-copyright {
  margin-top: 1.5rem; }

.parallax-container {
  background: rgba(0, 0, 0, 0.2); }

.venue__header h1 {
  margin: .5rem 0; }
.venue__header .accessories {
  margin: 0 0 1rem; }
.venue__header .section {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7); }
.venue__header-info p {
  margin: 1rem 0 0; }
.venue__header-info .rating li:first-child {
  margin-right: 0.5rem; }

.venue__reviews .collection-item.avatar {
  min-height: 0; }
  .venue__reviews .collection-item.avatar i.circle {
    font-size: 24px; }
  .venue__reviews .collection-item.avatar .title {
    display: block;
    margin-bottom: .25rem; }
  .venue__reviews .collection-item.avatar .secondary-content {
    top: 8px; }
    .venue__reviews .collection-item.avatar .secondary-content .material-icons {
      vertical-align: bottom; }

.venue__contact li {
  position: relative;
  padding: 0.5rem 3rem; }
  .venue__contact li .material-icons {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem; }

.card--venue {
  cursor: pointer; }
  .card--venue ul, .card--venue p {
    margin: 0; }
  .card--venue .divider {
    margin: 20px -20px; }
  .card--venue .material-icons {
    font-size: 2rem; }
  .card--venue .card-content .card-title {
    line-height: 30px; }
  .card--venue .card-reveal .card-title {
    margin-bottom: 20px; }
    .card--venue .card-reveal .card-title .material-icons {
      position: relative;
      top: 2px; }
  .card--venue .card-reveal .fancybox {
    position: absolute;
    right: 20px;
    bottom: 20px; }

.chip {
  margin: 0 .25rem 0.5rem 0; }

.rating li {
  display: inline-block;
  vertical-align: middle; }

.modal .modal-content {
  padding: 1.75rem 2.5rem; }
.modal form {
  margin: 0 -.75rem; }
.modal .checkbox-field {
  margin: 0 0 2rem;
  padding: 0; }

.material-icons {
  vertical-align: middle; }

.underline {
  border-bottom: 1px solid #e0e0e0; }
  .underline .btn {
    text-transform: none;
    font-size: 1rem; }

.btn {
  padding: 0 1rem; }

h4.underline {
  padding-bottom: 1rem; }

#modal-review ul {
  margin-bottom: 1rem; }
  #modal-review ul label {
    padding: 0; }
    #modal-review ul label .material-icons {
      font-size: 2rem; }
    #modal-review ul label:before, #modal-review ul label:after {
      display: none; }
  #modal-review ul input:not(:checked) + label > i {
    color: #e0e0e0 !important; }

.color-default {
  color: inherit; }

*[contenteditable] {
  outline: #777 dashed 1px;
  padding: .2rem; }

span[contenteditable] {
  display: inline-block; }

.venue__gallery img {
  width: 100%;
  display: block; }
.venue__gallery .col {
  padding-top: .75rem;
  padding-bottom: .75rem; }

[type="checkbox"].filled-in:checked + label:after {
  border-color: #0288d1;
  background-color: #0288d1; }

/*# sourceMappingURL=layout.css.map */
