<div class="toolbox">
    <div class="btn-floating btn-large red compare-venues"><i class="large material-icons"></i></div>
    <ul class="collection with-header">
        <li class="collection-header">
            <span>Lista ośrodków</span>
            <a href="#" class="btn light-blue darken-2 right">porównaj</a>
        </li>
    </ul>
</div>
